.jumbotron.jumbotron-fluid {
  background-image: url("https://dw9to29mmj727.cloudfront.net/promo/2016/5252-SeriesHeaders_HxH_2000x800.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  position: sticky;
  top: 0;
  width: 100%;
  height: 50%;
  z-index: 1;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
}
.container {
  color: whitesmoke;
  background: rgb(22, 20, 20);
  text-align: center;
  margin-top: 5%;
  border-radius: 5px;
}
.title{
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 50px;
}
.scoreDiv {
  color: whitesmoke;
  background-color: black;
  text-align: center;
  width: 400px;
  margin: 0% 60% 0% 35%;
}

@media screen and (max-width: 414px) { 
  .scoreDiv{
     /* margin: 0% 10% 0% 0% !important; */
     margin: 0% 20% 0% 10%;
     width: 300px;
   }
 } 